<html>
<body>

<H2>Create New Restaurant</H2>
<form action="/create" method="post" >
<p>Name</p>
<input type="text" name="name" value="" required>
<p>Borough: </p>
<input type="text" name="borough" value="">
<p>Cuisine: </p>
<input type="text" name="cuisine" value="">
<p>Street: </p>
<input type="text" name="street" value="">
<p>Building: </p>
<input type="text" name="building" value="">
<p>Zipcode: </p>
<input type="text" name="zipcode" value="">
<p>GPS Coordinates (lon.): </p>
<input type="text" name="lon" value="">
<p>GPS Coordinates (lat.): </p>
<input type="text" name="lat" value="">
<button type="submit"> Create </button>
</form>






</body>
</html>
