<html>
<body>

 <H2>Rate</H2>

<form action="/rating/<%=restaurant_id%>" method="get">
  Score 1 to 10 :<input  type="number" name="score" min=1 max=10>
  <button type="submit">Rate</button>
</form>



</body>
</html>
