<html>
   <head>
         <title>Register Page</title>         
   </head>
   <body>
   <H1>Register</H1>
   <%if(message){%>
   <%=message%>
   <%}%>
	<form action="/register" method="post">
                     <b>Userid:</b>
                     <input type="text" placeholder="Enter Userid" name="userid" required><br>
                     <b>Password:</b>
                     <input type="password" placeholder="Enter Password" name="password"required><br>
                     <button type="submit">Submit</button>      
   </body>
</html>