<html>
   <body>
   
<form action="/filter" method="get">
     <select name="sKey">
	 <option value="name">name</option>
     <option value="borough">borough</option>
     <option value="cuisine">cuisine</option>
     <option value="street">street</option>
     <option value="building">building</option>
	  <option value="zipcode">zipcode</option>
	   <option value="coord">coord</option>
	    <option value="owner">owner</option>
	  </select>
	   <input type="text" name="sPair">
	   <input type="submit" value="submit"></button>
   </form>
</body>
</html>

